.App {
  text-align: center;
  background-color: #282c34;
  font-size: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  color: white;
}

.App-link {
  color: white;
}


.selected {
  color: white;
  background-color: red;
  font-size: 20px;
}